body {
    margin: 0;
    padding: 0;
    background-image: url('nền.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}